#overlay {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
	background-color: #a7a7a7;
	filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;
    display: none;
    text-align: center;
}

#please_wait{
	display: none;
	font-size: 14px;
	background-color: #ffffff;
	left: 50%; margin-left: -175px; margin-top: -50px; height: 100px; position: fixed; top: 50%; width: 250px;
	z-index: 1000;
	text-align: center;
	border: 1px solid #a7a7a7;
	
}

#please_wait .please_wait_content{
	margin-top: 15px;
}

.dotA, .dotB, .dotC{
	display: none;
	font-size: 18px;
}


.dd {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
}
.dd .ddTitle {
	background:#f2f2f2;
	border:1px solid #c3c3c3;
	padding:3px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:16px;
	width: 200px;
}
.dd .ddTitle span.arrow {
	background:url(dd_arrow.gif) no-repeat 0 0; float:right; display:inline-block;width:16px; height:16px; cursor:pointer;
}

.dd .ddTitle span.textTitle {text-indent:1px; overflow:hidden; line-height:16px;}
.dd .ddTitle span.textTitle img{text-align:left; padding:0 2px 0 0}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
}
.dd .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	min-width: 206px;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:3px 0 3px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd .ddChild a:hover {
	background:#66CCFF;
}
.dd .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd .ddChild a.selected {
	background:#66CCFF;
	
}
.hidden {display:none;}